html, body {
  color: #2d3336;
  font-family: 'Avenir Light', sans-serif;
  font-size: 15px;
  height: 100%;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 25px;
  }
}

@media only screen and (min-width: 960px) {
  body {
    font-size: 22px;
  }
}

@media only screen and (min-width: 720px) {
  body {
    font-size: 20px;
  }
}

@media only screen and (min-width: 540px) {
  body {
    font-size: 17px;
  }
  h1 {
    font-size: 3.75em;
  }
  h1 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 2.5em;
  font-family: 'Avenir Light', sans-serif;
  font-weight: 100;
  letter-spacing: 0.015em;
}

h2 {
  font-size: 1.75em;
  font-family: 'Avenir Book', sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  font-family: 'Avenir Book', sans-serif;
}

h4 {
  font-size: 1.1em;
}

p, a, button, input, label {
  font-size: 1em;
  font-weight: 300;
}

input, label, button {
  box-sizing: border-box;
  display: block;
  text-align: left;
  width: 100%;
}

label {
  margin-bottom: 5px;
}

input {
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 15px;
}

button {
  background: #3498db;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 20px;
  text-align: center;
}

